/******************************************************************************

/* ABOUT PAGE */

.flex-container-about-intro {
	display: flex;
	flex-direction: row;
	height: 320px;
	margin: 188px auto 24px;
	background: #1b4040;
}
.flex-container-about-intro h1 {
	color: white;
	padding: 150px;
}
.flex-container-about-techne {
	display: flex;
	flex-direction: row;
	height: 480px;
	margin: 24px auto 24px;
}

.about-techne-one {
	background-image: url("Image Assets/Image_09.jpg");
	background-size: cover;
	flex: 1;
	box-sizing: border-box;
	border: 6px solid #1b4040;
}

.about-techne-two {
	background: #1b4040;
	flex: 1;
	padding-right: 6px;
	flex-direction: column;
}
.about-techne-two h2 {
	color: white;
}

.about-techne-two h3 {
	padding-left: 48px;
	padding-right: 48px;
	color: white;
}
