/******************************************************************************

/* HOME PAGE */

/* Shop all row */

.flex-container-shop-all {
	display: flex;
	flex-direction: row;
	height: 480px;
	margin: 188px auto 24px;
}

.shop-all-one {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #1b4040;
}

.shop-all-two {
	background: #1b4040;
	flex: 1;
	padding-right: 6px;
}

/* Shop product sections row */

.flex-container-product-sections {
	display: flex;
	flex-direction: row;
	height: 320px;
}

.product-section-one-img {
	background-image: url("Image Assets/Image_02.jpg");
	background-size: cover;
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #966161;
}

.product-section-one {
	background: #966161;
	flex: 1;
	padding-right: 12px;
	padding-left: 6px;
	margin-right: 6px;
}

.product-section-two-img {
	background-image: url("Image Assets/Image_03.jpg");
	background-size: cover;
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #647973;
	margin-left: 6px;
}

.product-section-two {
	background: #647973;
	flex: 1;
	padding-right: 12px;
	padding-left: 6px;
}

