/* overall page styling */
:root {
	--background: #ebebeb;
}
body {
	background-color: #f0f0f0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	margin: 0;
}

/* header and nav bar styling */

/* logo  */
.logo {
	display: flex;
	justify-content: center;
}
.nav-logo {
	display: flex;
	justify-content: center;
	height: 60px;
	padding: 10px;
}

.nav-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

header {
	background: var(--background);
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 140px;
}

/* Navigation Menu */

nav {
	background: var(--background);
	height: 160px;
	flex-direction: row;
	justify-content: space-between;
}
nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 5px;
}
nav li {
	position: relative;
	margin-left: 45px;
	margin-right: 45px;
}

.social-li {
	list-style: none;
	display: flex;
	align-items: center;
}
nav a {
	color: #1b4040;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

nav a:hover {
	color: #966161;
}

/* text styling */
h1 {
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

h3 {
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
}
h4 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
h5 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}
h6 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: right;
}

p {
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
}

/* Layout flexboxes */

.wrapper {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.homepage-box,
.about-box,
.journal-box,
.headline-journal,
.shop-box {
	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
}

/* HOME PAGE FLEXBOXES */

/* Shop all row */

.flex-container-shop-all {
	display: flex;
	flex-direction: row;
	height: 480px;
	margin: 188px auto 24px;
}

.shop-all-one {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #1b4040;
}

.shop-all-two {
	background: #1b4040;
	flex: 1;
	padding-right: 6px;
}

/* Shop product sections row */

.flex-container-product-sections {
	display: flex;
	flex-direction: row;
	height: 320px;
}

.product-section-one-img {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #966161;
}

.product-section-one {
	background: #966161;
	flex: 1;
	padding-right: 12px;
	padding-left: 6px;
	margin-right: 6px;
}

.product-section-two-img {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #647973;
	margin-left: 6px;
}

.product-section-two {
	background: #647973;
	flex: 1;
	padding-right: 12px;
	padding-left: 6px;
}

/* Blog row */

.blog-title {
	display: flex;
	height: 80px;
	margin: 48px auto 24px;
	background: #3d4042;
}

.flex-container-blog {
	display: flex;
	flex-direction: row;
	height: 320px;
}

.blog-one {
	box-sizing: border-box;
	border: 6px solid #3d4042;
	flex: 1;
	margin-right: 6px;
	flex-direction: column;
}
.blog-two {
	box-sizing: border-box;
	border: 6px solid #3d4042;
	flex: 1;
	margin: 0 6px 0 6px;
	flex-direction: column;
}
.blog-three {
	box-sizing: border-box;
	border: 6px solid #3d4042;
	flex: 1;
	margin-left: 6px;
	flex-direction: column;
}

.about-boxes .about {
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}
.about-text {
	background: white;
}

/* journal boxes */

.headline-journal-image {
	background-image: url("Image Assets/box 4.jpg");
	background-size: cover;
}
.headline-journal-text {
	background: #cca4a6;
}

.blog-one {
	background: white;
}

.blog-two {
	background: white;
}

.blog-three {
	background: white;
}
.blog-four {
	background: white;
}
.blog-five {
	background: white;
}
.blog-six {
	background: white;
}
.blog-seven {
	background: white;
}
.blog-eight {
	background: white;
}

.blog-nine {
	background: white;
}

/* shop product boxes */

.product-box {
	background: white;
}

.product-one {
	background: white;
}

.product-two {
	background: white;
}

.product-three {
	background: white;
}

/* product boxes */

.flex-container-product-page-banner {
	display: flex;
	height: 321px;
	margin: 150px auto 48px;
	justify-content: center;
	align-items: center;
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}

.flex-container-products {
	flex-direction: column;
	padding-bottom: 60px;
	display: block;
}

.flex-container-product {
	display: flex;
	height: 500px;
	margin-top: 24px;
	flex: 1;
	padding-bottom: 40px;
}

.product-image {
	min-width: 200px;
	margin-left: 6px;
	margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.product-details {
	flex-direction: column;
	padding-bottom: 15px;
}

/* shopping cart */

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #1b4040;
	padding-bottom: 20px;
	padding-top: 20px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 50%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #1b4040;
}

.cart-quantity {
	width: 30%;
}

.cart-item-title {
	margin-left: 10px;
}

.cart-item-image {
	width: 75px;
	background-size: cover;
}

.cart-quantity-input {
	height: 25;
	width: 40px;
	border-radius: 3px;
	border: 1px solid #1b4040;
	background-color: white;
	color: #1b4040;
	text-align: center;
	font-size: 1.2em;
}

.cart-row:last-child {
	border-bottom: 2px solid #1b4040;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total,
.cart-total-title,
.cart-total-price {
	font-size: 20px;
	color: #1b4040;
	text-align: right;
}

/* button styling */

.button {
	display: block;
	background-color: #1b4040;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #1b4040;

	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #f0f0f0;
	color: #e4c47c;
	border: 2px solid #e4c47c;
}
.button-purchase {
	max-width: 300px;
	background-color: #1b4040;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #1b4040;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.shop-item-button {
	max-width: 300px;
	background-color: #1b4040;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
	border: 2px solid #1b4040;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.shop-item-button:hover {
	background-color: #f0f0f0;
	color: #e4c47c;
	border: 2px solid #e4c47c;
}

.button-shop:hover {
	background-color: #f0f0f0;
	color: #e4c47c;
	border: 2px solid #e4c47c;
}

.cart-quantity-input {
	display: block;
	max-width: 300px;
	background-color: white;
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	border: 1px solid #1b4040;
	margin: auto;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

/* text link styling */

.text-links {
	color: #1b4040;
	text-decoration: none;
}

.text-links:link {
	color: #1b4040;
	text-decoration: none;
}

.text-links:visited {
	color: #1b4040;
	text-decoration: none;
}

.text-links:hover {
	color: #cca4a6;
	text-decoration: none;
}

.homepage-links:link,
.homepage-links:visited,
.homepage-links:hover {
	color: white;
	text-decoration: none;
}
.homepage-links-dark:link,
.homepage-links-dark:visited,
.homepage-links-dark:hover {
	color: #3d4042;
	text-decoration: none;
}
/* form input styling */

.form {
	height: 234px;
	background-color: rgba(150, 97, 97, 0.2);
	color: #3d4042;
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.newsletter-signup-copy {
	max-width: 600px;
	margin: auto;
}

.form-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	overflow: auto;
	height: 30px;
	width: 200px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	border: none;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* footer nav styling */
footer {
	background-color: #ebebeb;
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: center;
	z-index: 999;
	margin-top: 48px;
}

.footer-logo {
	display: flex;
	margin: 0 auto;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.footer-ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-li {
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
}

.social-ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

.social-li {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.social-icons {
	display: flex;
	justify-content: center;
	height: 20px;
}

.footer-links {
	color: #1b4040;
	text-decoration: none;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	.one,
	.three,
	.four,
	.six,
	.eight,
	.ten {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.name,
	.email,
	.button {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	nav ul {
		flex-direction: column;
	}
}

/* @media screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
} */
