/* overall page styling */
:root {
	--background: #cca4a6;
}
body {
	background-color: #f0f0f0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	margin: 0;
}

/* header and nav bar styling */

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

header {
	background: var(--background);
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 70px;
}
/* logo  */
.nav-logo {
	width: 15vmin;
}
/* Navigation Dropdown Button */

nav ul {
	list-style-type: none;
	align-items: center;
	padding: 15px;
}
nav a {
	color: white;
	text-decoration: none;
	font-size: calc(1.5vmin + 5px);
	text-transform: uppercase;
}

nav a:hover {
	color: #e4c47c;
	transition: 0.3s color linear;
}
.dropbtn {
	background-color: #1b4040;
	color: white;
	padding: 16px;
	text-align: center;
	border: none;
	font-size: calc(1.5vmin + 5px);
	right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #cca4a6;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	width: 80%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #1b4040;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #cca4a6;
}

/* text styling */
h1 {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: calc(1.5vw + 8px);
	text-align: center;
	width: 80%;
}

h2 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-right: 200px;
	padding-bottom: 0;
	padding-left: 200px;
}

h3 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
h4 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
h5 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}
h6 {
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: right;
	margin-right: 1.5em;
}

p {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}

.wrapper {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.flex-container-01 {
	display: flex;
	flex-direction: row;
	height: 321px;
	margin: 150px auto 48px;
	background: #1b4040;
	justify-content: center;
	align-items: center;
}

.flex-container-02 {
	display: flex;
	flex-direction: row;
	height: 107px;
	margin: 150px auto 48px;
	background: #1b4040;
	justify-content: center;
	align-items: center;
}
.flex-container-shop,
.flex-container-subscribe,
.flex-container-about,
.flex-container-journal,
.flex-container-journal-row-one,
.flex-container-journal-row-two,
.flex-container-journal-row-three,
.flex-container-headline-journal,
.flex-container-shop-row-one {
	display: flex;
	flex-direction: row;
	height: 321px;
	margin-top: 24px;
}

/* home boxes */

.homepage-box,
.about-box,
.journal-box,
.headline-journal,
.shop-box {
	min-width: 200px;
	margin-left: 6px;
	margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}

.home-shop-one {
	background-image: url("Image Assets/box 1.jpg");
	background-size: cover;
}

.home-shop-two {
	background: #1b4040;
}

.home-shop-three {
	background-image: url("Image Assets/box 2.jpg");
	background-size: cover;
}
.home-about-one {
	background-image: url("Image Assets/box 4.jpg");
	background-size: cover;
}
.home-about-two {
	background: #cca4a6;
}
.home-journal-one {
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}
.home-journal-two {
	background-size: cover;
	background: #647973;
}
.home-journal-three {
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}

/* about boxes */

.about {
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}
.about-text {
	background: white;
}

/* journal boxes */

.headline-journal-image {
	background-image: url("Image Assets/box 4.jpg");
	background-size: cover;
}
.headline-journal-text {
	background: #cca4a6;
}

.blog-one {
	background: white;
}

.blog-two {
	background: white;
}

.blog-three {
	background: white;
}
.blog-four {
	background: white;
}
.blog-five {
	background: white;
}
.blog-six {
	background: white;
}
.blog-seven {
	background: white;
}
.blog-eight {
	background: white;
}

.blog-nine {
	background: white;
}

/* shop product boxes */

.product-one {
	background: white;
}

.product-two {
	background: white;
}

.product-three {
	background: white;
}

/* product boxes */

.flex-container-product-page-banner {
	display: flex;
	height: 321px;
	margin: 150px auto 48px;
	justify-content: center;
	align-items: center;
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}

.flex-container-product-page {
	display: flex;
	flex-direction: row;
	height: 642px;
	margin-top: 24px;
}

.product-box,
.product-image {
	min-width: 200px;
	margin-left: 6px;
	margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}
.product-image {
	background-size: cover;
}
.product-details {
	background: white;
	flex-direction: column;
	padding-bottom: 60px;
}

/* form input styling */
form {
	height: 300px;
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 15px;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

input {
	align-items: center;
	overflow: auto;
	height: 20px;
	width: 400px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	border-radius: 2px;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

textarea {
	width: 400px;
	height: 50px;
	resize: none;
	overflow: auto;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	border-radius: 2px;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* shopping cart */

.cart-header {
	font-weight: bold;
	font-size: 1.25em;
	color: #333;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #1b4040;
	margin-right: 1.5em;
	padding-bottom: 5px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: 0.5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	background-image: url("Image Assets/box 6.jpg");
	background-size: cover;
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #56ccf2;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-right: 20px;
}

.cart-total-price {
	color: #333;
	font-size: 1.1em;
}

/* button styling */

.button {
	display: block;
	max-width: 300px;
	background-color: #1b4040;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid #1b4040;
	margin: auto;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #f0f0f0;
	color: #e4c47c;
	border: 2px solid #e4c47c;
}
.button-purchase {
	max-width: 300px;
	background-color: #1b4040;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
	border: 2px solid #1b4040;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.shop-item-button {
	max-width: 300px;
	background-color: #1b4040;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
	border: 2px solid #1b4040;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.shop-item-button:hover {
	background-color: #f0f0f0;
	color: #e4c47c;
	border: 2px solid #e4c47c;
}

.button-shop:hover {
	background-color: #f0f0f0;
	color: #e4c47c;
	border: 2px solid #e4c47c;
}

.cart-quantity-input {
	display: block;
	max-width: 300px;
	background-color: white;
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	border: 1px solid #1b4040;
	margin: auto;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

/* text link styling */

.text-links {
	color: #1b4040;
}
.text-links:link {
	color: #1b4040;
	text-decoration: none;
}

.text-links:visited {
	color: #e4c47c;
}

.text-links:hover {
	color: #e4c47c;
	text-decoration: underline;
}

.homepage-links:link,
.homepage-links:visited,
.homepage-links:hover {
	color: white;
	text-decoration: none;
}

/* footer styling */
footer {
	color: white;
	width: 100%;
	height: 50px;
	background: var(--background);
	bottom: 0;
	display: flex;
	justify-content: center;
	z-index: 999;
}

.site-footer {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	.one,
	.three,
	.four,
	.six,
	.eight,
	.ten {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.name,
	.email,
	.subject,
	.comments,
	.button {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	nav ul {
		flex-direction: column;
	}
}

/* @media screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
} */
